<div class="archive mt1 p2">
  <ul class="list-reset">
    <%
      var year = -1;
      site.posts.sort('date',-1).each(function(post){
        if(is_tag()){
          if(post.tags.data.find(tag=>tag.name===page.tag)){
            var post_year = date(post.date, 'YYYY')
            if(post_year && year !== post_year){
              year  = post_year;
              %>
                <%- partial('_partial/archive_item',{post: post,add_year:true}) %>
              <%  
            }else { 
              %>
                <%- partial('_partial/archive_item',{post: post,add_year:false}) %>
              <%    
            }
          }
        }else if(is_archive()) {
          var post_year = date(post.date, 'YYYY')
          if(post_year && year !== post_year){
            year  = post_year;

            %>
              <%- partial('_partial/archive_item',{post: post,add_year:true}) %>
            <%  
          }else{ 
            %>
              <%- partial('_partial/archive_item',{post: post,add_year:false}) %>
            <%    
          }
        }
      })
    %>
  </ul>
</div>
