<section id="context" class="content sm-col sm-col-12 lg-col-8 border-box pl2 animated fadeInRightBig faster">
  <%- partial('_partial/nav')%>
  <%- body %>
  <%- partial('_partial/back_to_top')%>
</section>
