<div class="tagcloud mt1 p2">
  <h1 class="center">All tags</h1>
  <small class="block center">共有<%=site.tags.length%>个标签</small>
  <%- tagcloud({min_font:12,max_font:30,color:true,amount:100,start_color:'#ccc',end_color:'#111'})%>
</div>
