<article class="post mt1 p2 mb3">
  <header class="post-header my1 pb2">
    <h1 class="m0 center"><%= page.title%></h1>
    <small class="time center block">
      发表于&nbsp;<time><%=date(page.date,'YYYY-MM-DD')%></time>
    </small>
  </header>
  <nav class="catalog mt1 mb1 pb1">
    <div class="catalog-title mt2 mb1">
      目录
    </div>
    <div class="catalog-body">
      <%- toc(page.content,{list_number:false,class:"catalog-list",max_depth:2}) %>
    </div>
  </nav>

  <section class="post-body markdown-body px1 pb2">
    <%- page.content %>
  </section>
  <script src="//cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script>
</article>
