@import "./_utils"

.pagination
  background-color #fff
  material-box-shadow()
  a
    padding 6px 12px
    color #696969
    border-top 1px solid #ddd
    border-bottom 1px solid #ddd
    line-height 1.41
    font-size 18px
    &:hover
      background-color #eee
  .disable
    a
      cursor not-allowed
      &:hover
        background-color #fff
  .current-page
    background: #f76d41
    &:hover
      animation-delay:1000ms
    a
      color: #fff
      &:hover
        background: #f76d41
