@import "../_dep/normalize.min.css"
@import "../_dep/basscss.min.css"

html
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility
body
  background-color #f5f7f9
  font-family 'Microsoft YaHei',sans-serif

@import "./_sidebar"
@import "./_content"
@import "./_nav"
