@import "./_utils"
@import "./_markdown"
.post
  material-box-shadow()
  background-color #fff
  .post-header
    border-bottom 1px solid #f5f5f5
    h1
      line-height 1.41
    .time
      color #aaa
